.shows {
  width: 20%;
  float: right;
  background-color: green;
  color: whitesmoke;
  Height: 2000px;
  margin: 5px;
  padding: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
}

.img {
  float: left;
  background-color: black;
  margin: 10px;
  padding: 5px;
}

.text {
  float: none; 
  color: white;
}

body {
  background-color: darkgray;
}